[Unit]
Description=Airco to mqtt bride (Matthijs)
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/data/domotica/aircos/paho_2_venv/bin/python /data/domotica/aircos/airco_main.py
Restart=always
RestartSec=300
RuntimeMaxSec=6h
StandardOutput=append:/var/log/aircos.log
StandardError=append:/var/log/aircos.log
User=root
Group=root

[Install]
WantedBy=multi-user.target
