[Unit]
Description=Airco to mqtt bride (Matthijs)
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/data/domotica/aircos/paho_2_venv/bin/python /data/domotica/aircos/klima-connector.py
Restart=always
RestartSec=300
User=root
Group=root

[Install]
WantedBy=multi-user.target
